<form [formGroup]="calculatorForm">
  <table>
    <tr>
      <td><label for="daysPerYear">Number of days:</label></td>
      <td><input type="number" id="daysPerYear" formControlName="daysPerYear" title="Enter the number of days per year"></td>
      <td><label for="daysPerYear">[Days / Year]</label></td>
      <td>
        <div *ngIf="daysPerYearControl?.invalid && (daysPerYearControl?.dirty || daysPerYearControl?.touched)">
          <div *ngIf="daysPerYearControl?.hasError('required')" class="validation-error">Days / Year is required.</div>
          <div *ngIf="daysPerYearControl?.hasError('min')" class="validation-error">Days / Year must be greater than or equal to 0.</div>
          <div *ngIf="daysPerYearControl?.hasError('max')" class="validation-error">Days / Year cannot exceed 365.</div>
        </div>
      </td>
    </tr>
    <tr>
      <td><label for="wattsPerDay">Consumption per Day:</label></td>
      <td><input type="number" id="wattsPerDay" formControlName="wattsPerDay" ></td>
      <td><label for="wattsPerDay">[W]</label></td>
      <td>
        <div *ngIf="wattsPerDayControl?.invalid && (wattsPerDayControl?.dirty || wattsPerDayControl?.touched)">
          <div *ngIf="wattsPerDayControl?.hasError('required')" class="validation-error">Watts / Day is required.</div>
          <div *ngIf="wattsPerDayControl?.hasError('min')" class="validation-error">Watts / Day must be greater than or equal to 0.</div>
        </div>
      </td>
    </tr>
    <tr *ngIf="calculatorForm.valid">
      <td><label>resulting yearly consumption:</label></td>
      <td>{{ consumptionPerYear }}</td>
      <td><label>[kW]</label></td>
    </tr>
  </table>

</form>


<hr>

<p>Form Value: {{ calculatorForm.value | json }}</p>

<p>Form Status: {{ calculatorForm.status }}</p>
<p>Form Errors: {{ calculatorForm.errors }}</p>
