<form [formGroup]="yearlyCostsCalculatorForm">

  <table>
    <tr>
      <td><label for="standbyDeviceConsumption">Standby Device consumption per hour:</label></td>
      <td><input type="number" id="standbyDeviceConsumption" formControlName="standbyDeviceConsumption"></td>
      <td><label for="standbyDeviceConsumption">[W / hour]</label></td>
      <td>
        <div *ngIf="standbyDeviceConsumptionControl?.invalid && (standbyDeviceConsumptionControl?.dirty || standbyDeviceConsumptionControl?.touched)">
          <div *ngIf="standbyDeviceConsumptionControl?.hasError('required')" class="validation-error">Standby Device consumption is required.</div>
          <div *ngIf="standbyDeviceConsumptionControl?.hasError('min')" class="validation-error">Standby Device consumption must be greater than or equal to 0.</div>
        </div>
      </td>
    </tr>
    <tr>
      <td><label for="standbyHoursPerDay">Standby hours per day</label></td>
      <td><input type="number" id="standbyHoursPerDay" formControlName="standbyHoursPerDay"></td>
      <td><label for="standbyHoursPerDay">[h]</label></td>
      <td>
        <div *ngIf="standbyHoursPerDayControl?.invalid && (standbyHoursPerDayControl?.dirty || standbyHoursPerDayControl?.touched)">
          <div *ngIf="standbyHoursPerDayControl?.hasError('required')" class="validation-error">Standby hours per day is required.</div>
          <div *ngIf="standbyHoursPerDayControl?.hasError('min')" class="validation-error">Standby hours per day must be greater than or equal to 0.</div>
        </div>
      </td>
    </tr>
    <tr *ngIf="yearlyConsumptionInKiloWatts > 0">
      <td>resulting yearly power-consumption</td>
      <td>{{ yearlyConsumptionInKiloWatts }}</td>
      <td><label>[kW / year]]</label></td>
    </tr>
    <tr *ngIf="numberOfAkws > 0">
      <td>number of equivalent AKWs:</td>
      <td>{{ numberOfAkws }}</td>
    </tr>
    <tr>
      <td colspan="3">
        <app-akw-display [numberOfAkws]="numberOfAkws"></app-akw-display>
      </td>
    </tr>
    <tr>
    <td><label for="electricityPrice">Electricity price</label></td>
    <td><input type="number" id="electricityPrice" formControlName="electricityPrice"></td>
    <td><label for="electricityPrice">[€ / kWh]</label></td>
    <td>
    <div *ngIf="electricityPriceControl?.invalid && (electricityPriceControl?.dirty || electricityPriceControl?.touched)">
          <div *ngIf="electricityPriceControl?.hasError('required')" class="validation-error">The electricity price is required.</div>
          <div *ngIf="electricityPriceControl?.hasError('min')" class="validation-error">The electricity price must be greater than or equal to 0.</div>
        </div>
    </td>
    </tr>
    <tr *ngIf="yearlyCostsCalculatorForm.valid">
      <td><label>resulting yearly costs:</label></td>
      <td>{{ costsPerYear | number:'1.2-2' }}</td>
      <td><label>[€ / year]</label></td>
    </tr>
  </table>

</form>

<hr>

<p>Form Value: {{ yearlyCostsCalculatorForm.value | json }}</p>

<p>Form Status: {{ yearlyCostsCalculatorForm.status }}</p>
<p>Form Errors: {{ yearlyCostsCalculatorForm.errors }}</p>
