<div class="framed">
  <h2>Yearly Costs</h2>
  <form class="example-form" [formGroup]="yearlyCostsCalculatorForm">

    <mat-form-field class="example-full-width">
      <mat-label>Standby Device consumption per hour:</mat-label>
      <input matInput type="number" id="standbyDeviceConsumption" formControlName="standbyDeviceConsumption"
             title="Enter the device's power consumption per hour">
      <mat-hint>[W / hour]</mat-hint>
      <mat-error *ngIf="standbyDeviceConsumptionControl?.hasError('required')">Standby Device consumption is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="standbyDeviceConsumptionControl?.hasError('min')">Standby Device consumption <strong>must be
        greater than or equal to 0</strong></mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Standby hours per day:</mat-label>
      <input matInput type="number" id="standbyHoursPerDay" formControlName="standbyDeviceConsumption"
             title="Enter the number of standby-hours per day">
      <mat-hint>[h / day]</mat-hint>
      <mat-error *ngIf="standbyHoursPerDayControl?.hasError('required')">Standby hours per day is
        <strong>required</strong></mat-error>
      <mat-error *ngIf="standbyHoursPerDayControl?.hasError('min')">Standby hours per day <strong>must be greater than
        or equal to 0</strong></mat-error>
    </mat-form-field>

    <mat-card>
      <mat-label>
        <mat-card-title>resulting yearly consumption</mat-card-title>
      </mat-label>
      <mat-card-content *ngIf="yearlyConsumptionInKiloWatts > 0">
        <p>{{ yearlyConsumptionInKiloWatts }}</p>
        <mat-hint>[kW / year]</mat-hint>
      </mat-card-content>
      <mat-card-content *ngIf="numberOfAkws > 0">
        <p>{{ numberOfAkws }}</p>
        <mat-hint>[kW / year]</mat-hint>
      </mat-card-content>
    </mat-card>

    <app-akw-display [numberOfAkws]="numberOfAkws"></app-akw-display>

    <mat-form-field class="example-full-width">
      <mat-label>Electricity price:</mat-label>
      <input matInput type="number" id="electricityPrice" formControlName="electricityPrice"
             title="Enter the price of each kilo-Watt by the hour">
      <mat-hint>[€ / kWh]</mat-hint>
      <mat-error *ngIf="electricityPriceControl?.hasError('required')">The electricity price is
        <strong>required</strong></mat-error>
      <mat-error *ngIf="electricityPriceControl?.hasError('min')">The electricity price <strong>must be greater than or
        equal to 0</strong></mat-error>
    </mat-form-field>

    <mat-card *ngIf="yearlyCostsCalculatorForm.valid">
      <mat-label>
        <mat-card-title>resulting yearly costs:</mat-card-title>
      </mat-label>
      <mat-card-content>
        <p>{{ costsPerYear | number:'1.2-2' }}</p>
        <mat-hint>[€ / year]</mat-hint>
      </mat-card-content>
    </mat-card>

  </form>
</div>
